.fh5co-portfolio {
  position: relative;
}

.fh5co-portfolio .portfolio-entry .desc {
  padding: 5rem 2rem 2rem;
}

.fh5co-portfolio footer {
  position: absolute;
  background-color: #e58d00;
  color: white;
  width: 100%;
  padding: 0 1rem;
}

#fh5co-counter-section {
  background-color: white;
  margin: 0 0 3rem;
  padding: 0;
}

#fh5co-newsstand {
  background-color: white;
  min-height: 20rem;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

.section-heading {
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-heading .sub-heading {
  margin-top: -3rem;
}

.tshirt__switcher {
  position: relative;
}

.tshirt__switcher .tshirt__switch {
  background-position: top;
}

.tshirt__switcher .tshirt__switch:last-child {
  opacity: 0;
  position: absolute;
  top: -3rem;
}

.portfolio {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: calc(100% - 3rem);
}

@media (min-width: 992px) {
  .portfolio {
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(33.33333% - 1rem);
  }
}

.portfolio img {
  left: 110%;
  right: 100%;
  position: absolute;
}

.media-container-row {
  margin: 2.5rem 1rem;
}

.media-container-row > div {
  float: none;
  margin: 0 auto;
}

.counter-container .counter {
  display: inline-block;
  font-size: 3rem;
  height: 3rem;
  left: 1rem;
  line-height: 2.5rem;
  margin: .75rem 0 .25rem;
  overflow: hidden;
  position: absolute;
  text-overflow: clip;
  transition: all .2s;
  white-space: nowrap;
  width: 6.5rem;
}

.counter-container div {
  margin-bottom: 1rem;
  padding-left: 6rem;
}

.newsextra h4 {
  color: white;
  font-size: 24px;
  left: 1.5rem;
  margin-bottom: -30px;
  position: relative;
  top: 1.5rem;
}

.newsextra h3 span {
  visibility: hidden;
}

.newsstand a {
  display: block;
}

.newsstand h3 {
  display: inline-block;
  margin: 0 0 1rem;
  padding: .5rem;
}

.newsstand a:hover h3 {
  text-decoration: underline;
}

.newsstand bold {
  border: .125rem solid;
  color: #e58d00;
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0 .5rem;
}

.counter-container .newsextra {
  margin: 0 -1rem;
  padding-left: 0;
}

.newsextra img {
  margin-bottom: -4rem;
  width: 100%;
}

.newsextra h2 {
  position: relative;
  top: -1rem;
  left: .5rem;
  padding: .5rem;
  background-color: white;
  display: inline-block;
  margin-bottom: 0;
}

.newsextra h3 {
  background-color: #e58d00;
  border-top: .25rem solid;
  color: white;
  margin: 0 0 .5rem;
  padding: 1.5rem;
}

.newsextra p {
  text-align: right;
}

.newsextra bold {
  float: left;
}

div.menu {
  margin: 0 -1rem;
  padding-left: 0rem;
}

.menu h3 {
  background-color: #8f989f;
  border-top: .25rem solid;
  color: white;
  margin: 0 0 .5rem;
  padding: 1.5rem;
}

.venue {
  border-bottom: .25rem solid;
  min-height: 220px;
  margin-top: 1.5rem;
  padding: 0 0 1rem;
}

.venue-link {
  color: #000;
  text-decoration: none !important;
}

.venue-link:hover * {
  color: inherit;
  text-decoration: underline !important;
}

.venue-link:hover p {
  text-decoration: none !important;
}

.venue-map {
  background-color: #e58d00;
  float: left;
  height: 200px;
  margin: 0 2rem 0 0;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.venue-map::after {
  bottom: .5rem;
  content: "";
  border: .125rem solid white;
  left: .5rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.venue-map iframe {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  margin: -100px;
  opacity: 0.5;
}

.venue-menu {
  padding-left: 220px;
}

.venue-name {
  margin: 0 0 1rem;
}

.venue-region {
  margin: 0 0 1rem;
}

.venue-days {
  margin: 0 0 1rem;
}

.venue-handshake {
  background-color: #e58d00;
  color: white !important;
  padding: 0 1rem;
  text-decoration: none !important;
}
