b#heart {
	font-size: 3.5rem;
}

.fh5co-portfolio {
  position: relative;
}

.fh5co-portfolio .portfolio-entry .desc {
  padding: 5rem 2rem 2rem;
}

.portfolio-entry {
  background-position: top center;
}

.fh5co-portfolio footer {
  background-color: #e58d00;
  color: white;
	opacity: 1;
  padding: 0 1rem;
  position: absolute;
  transition: opacity .15s ease-in-out;
  width: 100%;
}

.fh5co-portfolio:hover footer {
	opacity: 0.25;
  transition: opacity .15s ease-in-out;
}

#fh5co-counter-section {
  background-color: white;
  margin: 0 0 3rem;
  padding: 0;
}

#fh5co-newsstand {
  background-color: white;
  min-height: 20rem;
  padding: 3rem 0;
  margin-bottom: 3rem;
}

#fh5co-newsstand section h2{
  color: #e58d00;
}

.section-heading {
  padding-bottom: 0;
  margin-bottom: 0;
}

.section-heading .sub-heading {
  margin-top: -3rem;
}

.tshirt__switcher {
  position: relative;
}

.tshirt__switcher .tshirt__switch {
  background-position: top;
}

.tshirt__switcher .tshirt__switch:last-child {
  opacity: 0;
  position: absolute;
  top: -3rem;
}

.portfolio {
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  position: absolute;
  width: calc(100% - 3rem);
}

@media (min-width: 992px) {
  .portfolio {
    padding-left: 1rem;
    padding-right: 1rem;
    width: calc(33.33333% - 1rem);
  }
}

.portfolio img {
  left: 110%;
  right: 100%;
  position: absolute;
}

.media-container-row {
  margin: 2.5rem 1rem;
}

.media-container-row > div {
  float: none;
  margin: 0 auto;
}

.counter-container .counter {
  display: inline-block;
  font-size: 3rem;
  height: 3rem;
  left: 1rem;
  line-height: 2.5rem;
  margin: .75rem 0 .25rem;
  overflow: hidden;
  position: absolute;
  text-overflow: clip;
  transition: all .2s;
  white-space: nowrap;
  width: 6.5rem;
}

.counter-container div {
  margin-bottom: 1rem;
  padding-left: 6rem;
}

#filter-control {
	opacity: 0;
	padding: 0 0 0 1rem;
}

.filter-filter {
	display: inline-block;
}

.newsextra h4 {
  color: white;
  font-size: 24px;
  left: 1.5rem;
  margin-bottom: -30px;
  position: relative;
  top: 1.5rem;
}

.newsextra h3 span {
  visibility: hidden;
}

.newsstand a {
  display: block;
}

.newsstand h3 {
  display: inline-block;
  margin: 0 0 1rem;
  padding: .5rem;
}

.newsstand a:hover h3 {
  text-decoration: underline;
}

.newsstand bold {
  border: .125rem solid;
  color: #e58d00;
  display: inline-block;
  margin: 0 1rem 0 0;
  padding: 0 .5rem;
}

.counter-container .newsextra {
  margin: 0 -1rem;
  padding-left: 0;
}

.newsextra img {
  margin-bottom: -4rem;
  width: 100%;
}

.newsextra h1 {
  font-size: 3rem;
}

.newsextra h2 {
  position: relative;
  top: -1rem;
  left: .5rem;
  padding: .5rem;
  background-color: white;
  display: inline-block;
  margin-bottom: 0;
}

.newsextra h3 {
  background-color: #e58d00;
  border-top: .25rem solid;
  color: white;
  margin: 0 0 .5rem;
  padding: 1.5rem;
}

.newsextra p {
  text-align: right;
}

.newsextra bold {
  float: left;
}

div.menu {
  margin: 0 -1rem;
  padding-left: 0rem;
}

.menu h3 {
  background-color: #8f989f;
  border-top: .25rem solid;
  color: white;
  margin: 0 0 .5rem;
  padding: 1.5rem;
}

.venue {
  border-bottom: .25rem solid;
  min-height: 220px;
  margin-top: 1.5rem;
  padding: 0 0 1rem;
}

.venue-link {
  color: #000;
  text-decoration: none !important;
}

.venue-link:hover * {
  color: inherit;
  text-decoration: underline !important;
}

.venue-link:hover p {
  text-decoration: none !important;
}

.venue-map {
  background-color: #e58d00;
  float: left;
  height: 200px;
  margin: 0 2rem 0 0;
  overflow: hidden;
  position: relative;
  width: 200px;
}

.venue-map::after {
  bottom: .5rem;
  content: "";
  border: .125rem solid white;
  left: .5rem;
  position: absolute;
  right: .5rem;
  top: .5rem;
}

.venue-map iframe {
  filter: grayscale(100%);
  margin: -100px;
  opacity: 0.5;
}

.venue-menu {
  padding: 0 0 0 22rem;
}

.venue-name {
  margin: 0 0 1rem;
}

.venue-region {
  margin: 0 0 1rem;
}

.venue-days {
  margin: 0 0 1rem;
}

.venue-handshake {
  background-color: #e58d00;
  color: white !important;
  padding: 0 1rem;
  text-decoration: none !important;
}

/* RWD when you can't RTD */

@media screen and (max-width: 26.5rem) {
  .venue-map {
    margin: 0;
    width: 100%;
  }

  .venue-map iframe {
    width: 150% !important;
  }

  .venue-menu {
    padding: 22rem 0 0;
  }
}

.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-retroOrange,
.bootstrap-switch .bootstrap-switch-handle-off.bootstrap-switch-retroOrange {
  color: #fff;
  background: #e58d00;
}

div.container.inanimate-box .animate-box {
	opacity: 1 !important;
}

.contact-info {
	display: inline-block;
}

.contact-form {
	display: inline-block;
	margin: 0 0 60px 0;
  padding: 0;
}

@media screen and (min-width: 992px) {
	.contact-info {
		min-height: 195px;
	}
	
	.contact-form {
		min-height: 195px;
	}
}

.mental-health {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}

.mental-health li {
	display: inline-block;
}

.mental-health a {
	display: inline-block;
}

.mental-health strong {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
	display: block;
	height: 3.2rem;
	width: 3.2rem;
}

.mental-health a:hover::before {
	border: 0.15rem solid #e58d00;
	border-radius: 50%;
	content: "";
	height: 4rem;
	position: absolute;
	top: -0.4rem;
	width: 4rem;
}

.mental-health a:hover strong {
	opacity: .33;
}

.mental-health li.beyondblue strong {
	background-image: url(../images/talk/beyondblue.png);
}

.mental-health li.beyondblue a:hover::before {
	left: -0.4rem;
}

.mental-health li.blackdoginstitute strong {
	background-image: url(../images/talk/blackdog.png);
}

.mental-health li.blackdoginstitute a:hover::before {
	left: 4.0rem;
}

.mental-health li.headspace strong {
	background-image: url(../images/talk/headspace.png);
}

.mental-health li.headspace a:hover::before {
	left: 8.4rem;
}

.mental-health li.ruok strong {
	background-color: rgb(253, 198, 46);
	background-image: url(../images/talk/ruok.png);
	background-size: 80%;
}

.mental-health li.ruok a:hover::before {
	left: 12.8rem;
}

.mental-health span {
	left: -9rem;
	opacity: 0;
	position: absolute;
	top: 3.2rem;
	z-index: -1;
}

.mental-health a:hover span {
	left: 0;
	opacity: 1;
	z-index: 1;
}

div.jobsboard {
  margin: 0 -1rem;
  padding-left: 0rem;
}

.jobsboard h1 {
  font-size: 3rem;
}

.jobsboard h3 {
  background-color: #8f989f;
  border-top: .25rem solid;
  color: white;
  margin: 0 0 .5rem;
  padding: 1.5rem;
}
