<div class="container">
	<div class="row">
		<div class="col-md-4 animate-box">
			<h3 class="section-title brand-font">hospo threads</h3>
			<p>We're not telling you where we live, kiddo. If you want to get in touch, use the form -></p>
		</div>

		<div class="col-md-4 animate-box">
			<h3 class="section-title">Send memes</h3>
			<ul class="contact-info">
				<li><i class="icon-location-pin"></i>Redfern, Sydney</li>
				<li><i class="icon-envelope"></i><a href="mailto:chau@hospothreads.com">chau@hospothreads.com</a></li>
				<li><i class="icon-envelope"></i><a href="mailto:sharkie@hospothreads.com">sharkie@hospothreads.com</a></li>
				<li><i class="icon-envelope"></i><a href="mailto:tj@hospothreads.com">tj@hospothreads.com</a></li>
			</ul>
			<h3 class="section-title">Have a stalk</h3>
			<ul class="social-media">
				<li><a href="#" class="facebook" onclick="alert('lol boomer'); return false;"><i class="icon-facebook"></i></a></li>
				<li><a href="https://www.instagram.com/hospothreads" class="twitter"><i class="icon-instagram"></i></a></li>
			</ul>
		</div>
		<div class="col-md-4 animate-box">
			<h3 class="section-title">Send a fax</h3>
			<form class="contact-form">
				<div class="form-group">
					Civvies:
					<a href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSfcqqHAdADoImLKDA1bCRK8lLf7U4kdiwCJczawryWYx-Pqxw/viewform" class="btn btn-send-message btn-md btn-submit">Get updates</a>
				</div>
				<div id="getlisted" class="form-group">
					Venues:
					<a href="https://docs.google.com/forms/d/e/1FAIpQLScMBtytDBt5CrJcvUzgvSwzkNHa0o0v3gMVB_FMdsOKSaKccA/viewform" class="btn btn-send-message btn-md btn-submit">Get listed</a>
				</div>
			</form>
			<h3 class="section-title">Have a talk</h3>
			<ul class="mental-health">
				<li class="beyondblue"><a href="https://www.beyondblue.org.au/"><span >Beyond Blue</span><strong aria-hidden="true"></strong></a></li>
				<li class="headspace"><a href="https://headspace.org.au/"><span>headspace</span><strong aria-hidden="true"></strong></a></li>
				<li class="blackdoginstitute"><a href="https://www.blackdoginstitute.org.au/"><span>Black Dog Institute</span><strong aria-hidden="true"></strong></a></li>
				<li class="ruok"><a href="https://www.ruok.org.au/hospitality"><span>R U OK</span><strong aria-hidden="true"></strong></a></li>
			</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<p class="copy-right"><span>&copy; 2020</span><br>
				Theme by <a href="http://freehtml5.co/" target="_blank">these dudes</a>
				Homepage image: <a href="#" target="_blank">Burrow bar</a>. Made in Redfern <i class="icon-heart"></i>
			</p>
		</div>
	</div>
</div>
